Xcursor.theme: Adwaita

XTerm.vt100.metaSendsEscape: true
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?

XTerm.vt100.scrollBar: true
XTerm.vt100.scrollbar.width: 8

XTerm.vt100.foreground: white
XTerm.vt100.background: black

XTerm.vt100.faceName: MesloLGS NF:size=10:antialias=false
XTerm.vt100.font: 10x14
