[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ratpipe/Desktop/chrome-aghbiahbpaijignceidepookljebhfak-Default.desktop]
row=5
col=0

[/home/ratpipe/Desktop/nvim-qt.desktop]
row=6
col=0

[/home/ratpipe/Desktop/google-chrome.desktop]
row=7
col=0

[/home/ratpipe/Desktop/Downloads]
row=0
col=1

[/home/ratpipe/Desktop/chrome-kjgfgldnnfoeklkmfkjfagphfepbbdan-Default.desktop]
row=1
col=1

[/home/ratpipe/Desktop/xfce4-terminal.desktop]
row=2
col=1

[4CA4F75BA4F745CC]
row=1
col=0

[C6AC7F0AAC7EF3F1]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/ratpipe]
row=4
col=0

