[Desktop Entry]
X-SnapInstanceName=code
Name=Visual Studio Code
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/code_code.desktop /var/lib/snapd/snap/bin/code --force-user-env --unity-launch %F
Icon=/var/lib/snapd/snap/code/97/meta/gui/com.visualstudio.code.png
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Actions=new-empty-window;
Keywords=vscode;
X-XFCE-Source=file:///var/lib/snapd/desktop/applications/code_code.desktop

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/code_code.desktop /var/lib/snapd/snap/bin/code --force-user-env --new-window %F
Icon=/var/lib/snapd/snap/code/97/meta/gui/com.visualstudio.code.png
