[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ratpipe/Desktop/code_code.desktop]
row=4
col=0

[/home/ratpipe/Desktop/google-chrome.desktop]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/ratpipe]
row=2
col=0

